/* _footers.scss */

#footPrimary {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.4rem;
    font-family: var(--ff-gothic-en);
    font-size: var(--fnt-sm);
}

/* _footers.scss */